dag.svg
Rplots.pdf
.snakemake/
alignment/
coverage/
datavis/
peakcalling/
qual_ctrl/
fastq/*
scripts/.snakemake*
logs/*
logs/cluster/*
snakemake.err
snakemake.log

!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
